# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
environment/

# IDE files
.idea/
*.log
*.swp
*.swo
*.DS_Store
*.vscode/
*.vscode